body
{
    text-align: center;
}
#welcome {
    color: #FFFFFF;
    bottom: 0;
   /* background: linear-gradient(#60ebeb 0%, #27ae60 100%);*/
   background-color: black;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color:grey;
    line-height: 3;
    text-align: center;
 }
 .profile{
    width: 50%;
    padding-top: 50px;
    border-radius: 30%;
 }

 .column{
    float: left;
    width: 50%;
    padding: 10px;
 }
 .row::after{
    content:"";
    clear: both;
    display: table;
 }
 .coltext{
    padding-top: 12%;
    padding-bottom: 12%;
    color: #FFFFFF;
    background-color: crimson;
 }